<style>
  .header {
    background-color:darkturquoise;
    margin-bottom: 20px;
  }
  .inhead {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  h4 {
      margin-top: 10px;

  }
</style>

<div class="container-fluid web">
  <div class="row header">
      <div class="col-md-1 inhead">
          <img alt="TV"
                   src="https://apprecs.org/gp/images/app-icons/300/fb/fema.serietv2.jpg"
                   height="50"
                   width="50"
                   align="right"
                    />

      </div>
      <div class="col-md-11 inhead">
          <h4> TV Series </h4>
      </div>
  </div>

<app-series></app-series>
